div(ng-include='"components/navbar/navbar.html"')

section.col-md-12.results
  table
    thead
      tr
        th
        th {{'REGION' | translate}}
        th {{'CPU_COUNT' | translate}}
        th {{'RAM' | translate}}
        th {{'COST' | translate}}
        th {{'SCORE' | translate}}
    tbody
      tr(ng-repeat='result in results')
        td
          {{result.provider}}
          img.provider-logo(src='{{result.logo}}')
        td {{result.region}}
        td {{result.cpuCount}}
        td {{ (((result.ram / 1024) / 1024) / 1024) | number: 2}}GB
        td ${{result.cost}}/hr
        td {{result.score | number: 2}}
