div(ng-include='"components/navbar/navbar.html"')

section.col-md-12.results
  table
    thead
      tr
        th
        th {{'REGION' | translate}}
        th {{'CPU_COUNT' | translate}}
        th {{'RAM' | translate}}
        th {{'COST' | translate}}
    tbody
      tr(ng-repeat='result in results')
        td
          {{result.provider}}
          img.provider-logo(src='{{result.logo}}')
        td {{result.region}}
        td {{result.cpuCount}}
        td {{result.ram}}gb
        td ${{result.cost}}/hr
