div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='assets/images/ninja-logo.gif' alt='I\'m Cloud Comparison Ninja!')

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title | translate}}

    div#navbarlang.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav.lang
        li(ng-repeat='lang in languages')
          a(ng-click='switchLanguage(lang)') {{lang.name}}
