div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container.logo-container(ng-show="ninjaLogo")
    img(src='assets/images/cloudcomparisonninja_small.png' alt='I\'m Cloud Comparison Ninja!')

.container
  .row

footer.footer
  .container
