div(ng-include='"components/navbar/navbar.html"')

.wrapper

	.col-md-12.select
		select(ng-model='firstProvider')
			option(ng-repeat='provider in providers' )
				{{provider.id}}

		h2 Vs

		select(ng-model='secondProvider')
			option(ng-repeat='provider in providers')
				{{provider.id}}

		button(ng-click='fight()')
			{{'FIGHT'| translate}}!

	.col-md-12.result
		ul.combatant(ng-repeat='combatant in combatants')
			li Disk Read
				strong {{combatant.perf.disk.read}}
			li Disk Write
				strong {{combatant.perf.disk.write}}
			li CPU Single Thread
				strong {{combatant.perf.cpu.single_thread}}
			li CPU Multi Thread
				strong {{combatant.perf.cpu.multi_thread}}
			li Memory
				strong {{(((combatant.perf.mem / 1024) / 1024) / 1024) | number: 2}}GB
			li Number of CPUs
				strong {{combatant.specs.cpu.length}}
			li Memory Total Gb
				strong {{(((combatant.specs.mem.total / 1024) / 1024) / 1024) | number: 2}}
